<div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="jumbotron">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="">No. of Questions</label>
            <select name="num" [(ngModel)]="APIRequest.num_of_questions" class="form-control">
              <option [value]="0">5</option>
              <option>10</option>
              <option>15</option>
              <option>20</option>
              <option>25</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Category</label>
            <select name="num" [(ngModel)]="APIRequest.category" class="form-control">
              <option [value]="0">All</option>
              <option [value]="-1">Random</option>
              <option 
                *ngFor="let category of categories"
                [value]="category.id"
                [innerHTML]="category.name"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Difficulty</label>
            <select name="num" [(ngModel)]="APIRequest.difficulty" class="form-control">
              <option [value]="0">Any Difficulty</option>
              <option [value]="'easy'">Easy</option>
              <option [value]="'medium'">Medium</option>
              <option [value]="'hard'">Hard</option>
            </select>
          </div>
          <div class="center_align">
            <button type="submit" class="btn btn-primary btn-lg">Play</button>
            <p>Click the button above to start the trivia game</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-results></app-results>